<div class="container mrl-10">
    <div fxLayout="column" [formGroup]="form">
        <mat-form-field appearance="fill">
            <mat-label>Enter stock symbol</mat-label>
            <input matInput
                autocomplete="off"
                (keyup.enter)="getHistoricalData()"
                formControlName="stockSymbol">
        </mat-form-field>
        
        <button mat-raised-button
            color="primary"
            class="mb-4"
            (click)="getHistoricalData()">
            GET DATA
        </button>
    </div>
</div>